body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(37, 43, 43);
}
.box {
    width: 250px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    text-align: center;
    display: block;
    
    
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="email"],.box input[type="password"]{
    border-radius:0%;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 3px solid seagreen;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 30px;
    transition: 1;
}
.box input[type="email"]:focus, .box input[type="password"]:focus{
    width: 200px;
    border-color: tomato;

}

.box input[type="button"]{
    border-radius:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(71, 46, 139);
    padding: 14px 20px;
    outline: none;
    color: white;
    border-radius: 30px;
    transition: 1;
    cursor: pointer;
}

.box input[type="button"]:hover{
    background-color: rgb(71, 46, 139);
}

h1:hover{
    color: yellow;

}

.foot {
    width: 50px;
    height: 30px;
    padding: 30px;
    display: block;
    top: 70%;
    bottom: 70%;
    transform: translate(-50,-80);
    background-color: white; 
    transform: translate(-40%,520%);



}


    

